body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  /* font-weight: <weight>; */
  font-style: normal;
}
.container {
  flex: 1;
}
.navbar {
  /* height: 5rem; */
  background-color: white;
}
.fa-airbnb {
  color: #fe424d;
  font-size: 2rem;
}
.nav-link {
  color: #222222 !important ;
}

.f-info-links {
  text-decoration: none;
  color: #222222;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}
.f-info-links a :hover {
  text-decoration: underline;
}


/* Cards */
.card {
  border: 0 !important;
  /* margin-right: 1rem !important; */
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100 !important;
  object-fit: cover !important;
}
.card-body {
  padding: 0 !important;
}
.card-text {
  font-weight: 400 !important;
}

.listing-links {
  text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

.add-btn, .edit-btn{
   background-color: #fe424d !important;
   border: none !important;
}


/* Show Page */

.show-img{
  height: 30vh !important;
}

.btns{
  display: flex;

} 
.show-card{
  padding-left: 0;
  padding-right: 0;
}